h1 {
  text-align: center;
  font-family: sans-serif;
}

h4 {
  text-align: center;
  font-family: sans-serif;
}

h2 {
  text-align: left;
  font-family: sans-serif;
}

p {
  text-align: left;
  font-family: sans-serif;
}

img {
  border-radius: 50%;
}

.start {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: auto;
}

.journey {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: auto;
}

.business {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: auto;
}

.stonks {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: auto;
}

.a {
  display: flex;
  flex-wrap: wrap;
}

.b {
  width: 40%;
}

.c {
  width: 40%;
}

.d {
  width: 30%;
}

.e {
  width: 30%;
}

.f {
  width: 30%;
}

.g {
  width: 30%;
}

.h {
  width: 30%;
}

.i {
  width: 30%;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: black;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
li a,
.dropbtn {
  display: inline-block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
li a:hover,
.dropdown:hover .dropbtn {
  border-style: groove;
  border-width: 2px;
  border-radius: 5px;
  background-color: rgb(188, 12, 12);
}
li.dropdown {
  display: inline-block;
}
.NavBar {
  display: flex;
  justify-content: flex-end;
}
